*{
    margin: 0;
    padding: 0;
    /* imported font */
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
}

.text-wrapper {
  position: relative; 
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px; 
}

.header{
  background-color: #ffffff; 
  padding: 10px 0; 
}

/*main page section w/ image background*/
.content-with-bg {
  min-height: 80vh;
  background-image: linear-gradient(#456b33,#182612);
  background-position: center;
  background-size: cover;
  padding: 60px 20px; 
}

/* the nav bar */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content, .nav-links, .nav-links ul{
    display: flex;
    align-items: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 8px;
    position: relative;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}
/*GreatStack - https://www.youtube.com/watch?v=oYRda7UtuhA&t=2384s utilized
utilized the function where it shows a bar under the NAV menu option you're hovering over. */

.nav-links ul li::after{ 
    content:'';
    width: 0%;
    height: 2px;
    background: #182612;
    display: block;
    margin: auto;
    transition: 100ms;
}

.nav-links ul li:hover::after{
    width: 100%;
}

/*main page text setup*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0px 40px;
    font-size: 16px;
    color: #fff;
}

/*footer setup*/
.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0px;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

/*<------ABOUT ME PAGE------->*/

/*changed the main bg format a bit*/
.content-with-bg2 {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  min-height: 100vh;
  background: #182612;
  padding: 60px 20px;
  text-align: center;
}

/*margin and display type for these classes*/
.text-box2, .text-box3, .video-container, .picture {
  display: block;
  margin: 20px 0; 
}

/* Text Box 2 */
.text-box2 {
  margin-bottom: 20px; 
  color: #fff;
  z-index: 1; 
}

.text-box2 h1 {
  font-size: 62px;
  color: #fff;
}

/* photo of me  */
.picture {
  content: url(Photos/aboutmepic.jpg); /* when I used img tag the styling would not change so I had to use this instead*/
  width: 300px; 
  height: auto; /*keep aspect ratio the same w/ the change in width*/
  border-radius: 15px;
  margin-bottom: 20px; 
}


.text-box3 {
  width: 100%; 
  max-width: 1200px; 
  margin-bottom: 40px; 
  color: #fff;
  text-align: left;
  padding: 0 20px;
}

.text-box3 h1, .text-box3 h2 {
  font-size: 25px;
  font-weight: 600;
}

.text-box3 p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

/* style for the video  */
.video-container {
  width: 90%;
  max-width: 500px; 
  margin: 20px auto; 
  border-radius: 15px;
}

.video-container video {
  width: 100%; 
  height: auto; 
  border-radius: 15px; 
}





/*--------CONTACT PAGE--------*/

/*setting up the form, had lots of trouble getting it to be centered*/
.contact-form {
  min-height: 80vh;
  background: radial-gradient( #456b33, #182612);
  background-position: center;
  background-size: cover;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  padding: 40px;
  box-sizing: border-box;
}
.contact-form h5 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 40px;  
  text-align: center;   
  width: 100%;
}

.contact-form label {
  display: block; 
  margin-bottom: 8px; 
  font-size: 16px;
  color: #fff; 
  font-weight: 600; 
}

.contact-form form {
  width: 100%; 
  max-width: 500px;
  text-align: left ; 
  margin: 0 auto; 
}

/*style for the forms*/
input, textarea {
  background-color: white;
  width: 100%;   
  padding: 16px;
  border: 1px solid black;
  border-radius: 50px; 
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

/*submit*/
button {
  background-color: #637368;
  border-radius: 20px;
  border: none;
  padding: 10px 20px; 
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  display: block; 
  margin-left: auto;
  margin-right: auto; 
}

/*helps user see that they're on the button*/
button:hover {
  opacity: 0.8;
}


/*-------PROJECTS-------*/

.projects-section {
  padding: 60px 20px;
  background-color: #182612; 
  text-align: center;
  color: #fff;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 40px; 
  flex-wrap: wrap; 
  max-width: 1200px;
  margin: 0 auto;
}

/*style for displaying the project*/
.project-card {
  position: relative;
  background-color: #333;
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #fff;
  overflow: hidden; 
}

/*style of the photo for the project*/
.project-image {
  width: 100%; 
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  margin-bottom: 15px;

  transform: scale(1.2); 
  transition: transform 0.3s ease-in-out; /*cool effect when hovering the tile*/
}


.project-card:hover .project-image {
  transform: scale(1); 
}





.project-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}


.project-card p {
  font-size: 16px;
  margin-bottom: 15px;
}







/* google font said to add this */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  